/* Stars Rating color */
body {
    background-color: #ffc6ff;
}

.bookmarksTileColor {
    background-color: #caffbf;
}

.tile {
    background-color: #ffffff;
}

.color2 {
    background-color: #fffffc;
}

.R {
    background-color: #ffadad;
    border-radius: 25px;
}

.O {
    background-color: #ffd6a5;
    border-radius: 25px;
}

.Y {
    background-color: #fdffb6;
    border-radius: 25px;
}

.G {
    background-color: #caffbf;
    border-radius: 25px;
}

.B {
    background-color: #9bf6ff;
    border-radius: 25px;
}

.I {
    background-color: #a0c4ff;
    border-radius: 25px;
}

.V {
    background-color: #bdb2ff;
    border-radius: 25px;
}

.filterFormColor {
    background-color: #9bf6ff;
}

a {
    text-decoration: none;
}

button.delete {
    background-color: #ffadad;
}

button.detail {
    background-color: #caffbf;
}


.newBookFormColor {
    background-color: #fdffb6;
}

.starred {
    color: orange;
}

.hide {
    display: none;
}

/* Gets the New bookmark and filter button centered */
.topButton {
    display: flex;
}

/* adds border box */
.box {
    border-style: solid;
    text-align: center;
    margin: 10px 30px 10px 30px;
    padding: 10px;
}


main {
    display: flex;
    flex-direction: column;
}


h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}